.background    { background-image: url("background.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #ff7400; }
.wall          { background: #eee;   }
.floater	{ background: red;  }

.actor { position: absolute; }
.player { background: green; }
.enemy { background: purple;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
